<p id="notice"><%= notice %></p>

<p>
  <strong>@<%= @post.user.name %></strong>

</p>

<h1>
  <%= image_tag @post.avatar.url(:medium) %>
</h1>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>


<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_post_path(@user, @post) %>
  <%= link_to 'Destroy', user_post_path(@user, @post), method: :delete %>
<% end %>
